header{
    background-color: rgb(158, 113, 113);
    
}
header>.container>nav{
    width: 100%;
    float: left;
    position: absolute;
   display: none;
}
header>h1>a{
    text-align: center;
}
header>.container>nav>ul>li>a{
    display: block;
    width: 100%;

}
header>.container>nav>ul{
    display: block;
}
header>.container>nav>ul>li{
    width:100%;    
}
header > .container > nav.active{
    display: block;
}
h1{
    width: 95%;
    float: left;
    background-color: rgb(126, 182, 129);
}
h1 a{
    background-color: rgb(7, 63, 26);
    color: aliceblue;
    
}
@media(max-width:767px){}
.icon-menu{
    width: 5%;
    background-color: rgb(174, 147, 156);
    line-height: 60px;
    color: bisque;
    display: block;
    text-align: center;
    float: right;
}
.overflow-hidden{
    overflow: hidden;
}
@media(min-widtd:768px){
    .icon-menu{
        display: none;
    }
}//min-width 768 end