* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #bda687;
}

.container {
  max-width: 1140px;
  margin: auto;
}

header {
  font-size: 24px;
  padding: -50px;
  margin: 0 auto;
}

header h1 {
  color: #470909;
}

nav {
  background-color: antiquewhite;
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

nav a {
  color: #949697;
  text-decoration: none;
}

section {
  margin-top: 50px;
  background-color: #f8dbb0;
}

section a {
  font-size: 16px;
  color: gray;
  text-decoration: none;
}

.col-1 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 20px 15px;

}

.row {
  display: flex;
  flex-wrap: wrap;

}


footer {
  background-color: antiquewhite;
}




.breadcrumb{
  color: rgb(134, 23, 23);
  width: 100%;
  display: flex;
}
ul li{
  list-style-type: none;

}
ul>li>a{
 text-decoration: none;
  text-decoration: none;
}
.col-9 {

  width: calc(100% / 1.333333 - 30px);
  margin: 0px 15px 40px 15px;}
  .col-8 {
    width: calc(100% / 1.5 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
  }

.col-6 {
  width: calc(100% / 2 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}
.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}
.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}
.btn-primary {
  background-color: #bdb3a7;
  padding: 15px;
  color: black;
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
  text-align: center;
}

.btn-primary:hover {
  background: black;
  color: #bdb3a7;
}

.text-primary {
  color: #9a713e;
}

.img-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.img-overlay {
  /* overflow: hidden; */
  border-radius: 8px;
  display: block;
}

.img-wrap img {
  vertical-align: top;
  transition: all 0.5s;
}

.img-wrap img:hover {
  transform: scale(1.1);
}

.icon-new {
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: white;
  border-radius: 100%;
  left: -20px;
  top: -20px;
  background-color: rgb(206, 65, 65);
  padding: 5px;
  text-align: center;
}
.img-rounded {
  border-radius: 8px;
}
@for $i from 1 through 10{
  .col-#{$i}{
   width: calc(100% / #{$i} - 30px);
   margin:0px 15px 40px 15px;
  }
}