doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title 12321341111
        link(rel='stylesheet', href='public/css/0621.css')
    body
        header
        
            .container
            .row.flex-space-between
                h1
                    a(href='index.html') Ayn's Portfolio
                a.icon-menu(href="#") menu
                nav
                    ul
                        li
                            a(href='about-us.html') 關於我
                        li
                            a(href='design-list.html') 平面設計
                            ul.submenu
                                li.submenu
                                    a(href="")品牌設計
                                li
                                    a(href="")包裝設計
                        li
                            a(href='web-design-list.html') 網頁設計
                        li
                            a(href='contact-us.html') 聯絡我
    .container
        .row
            .col-12
                h2 關於我
        .row
            .col-12.col-md-6 
                    img.img-fluid.img-rounded(src='https://baconmockup.com/300/200', alt='')
            .col-12.col-md-6 02
        .row
            .col-12.col-md-6
                    img.img-fluid.img-rounded(src='https://baconmockup.com/300/200', alt='')
            .col-12.col-md-6.order-md-1 02
        
    footer
      .container
        .row
          dl.col-12.col-md-3
            dt &#x6A19;&#x984C;01
            dd
              a(href='#') &#x9805;&#x76EE;01
            dd
              a(href='#') &#x9805;&#x76EE;02
            dd
              a(href='#') &#x9805;&#x76EE;03
            dd
              a(href='#') &#x9805;&#x76EE;04
          dl.col-12.col-md-3
            dt &#x6A19;&#x984C;02
            dd
              a(href='#') &#x9805;&#x76EE;01
            dd
              a(href='#') &#x9805;&#x76EE;02
            dd
              a(href='#') &#x9805;&#x76EE;03
            dd
              a(href='#') &#x9805;&#x76EE;04
          dl.col-12.col-md-3
            dt &#x6A19;&#x984C;03
            dd
              a(href='#') &#x9805;&#x76EE;01
            dd
              a(href='#') &#x9805;&#x76EE;02
            dd
              a(href='#') &#x9805;&#x76EE;03
            dd
              a(href='#') &#x9805;&#x76EE;04
          dl.col-12.col-md-3
            dt &#x6A19;&#x984C;04
            dd
              a(href='#') &#x9805;&#x76EE;01
            dd
              a(href='#') &#x9805;&#x76EE;02
            dd
              a(href='#') &#x9805;&#x76EE;03
            dd
              a(href='#') &#x9805;&#x76EE;04
        p.copyright.text-center &#x672C;&#x7AD9;&#x50C5;&#x4F9B;&#x5B78;&#x7FD2;&#x4F7F;&#x7528;&#xFF0C;&#x4E0D;&#x7528;&#x65BC;&#x5546;&#x696D;&#x7528;&#x9014;&#x3002;

