doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Yi Hao Lee
  link(rel='stylesheet' href='public/css/style.css')
h1.text-center Yi Hao Lee Web
header
  .container
    h1 PROFOILO
    nav
      ul
        li
          a(href='#') &#x9996;&#x9801;
        li
          a(href='#') &#x95DC;&#x65BC;&#x6211;&#x5011;
        li
          a(href='#') &#x6700;&#x65B0;&#x6D88;&#x606F;
        li
          a(href='#') &#x806F;&#x7D61;&#x6211;&#x5011;
section
  img.img-fluid(src='https://picsum.photos/1920/360')
  // content start
  // .container>h1{最新作品一覽}+.row>.col-4*6>img.img-fluid+p.title.text-center>a[href="#"]{標題$}^p.date.text-center{內容}
  // 一樣的意思
  .container
    h1.text-center &#x4F5C;&#x54C1;&#x96C6;&#x9810;&#x89BD;
    .row
      .col-4
        img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
        p.titl.text-center
          a(href='#') &#x6A19;&#x984C;1
        p.description.text-center 2022.06.15
      .col-4
        img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
        p.titl.text-center
          a(href='#') &#x6A19;&#x984C;2
        p.description.text-center 2022.06.15
      .col-4
        img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
        p.titl.text-center
          a(href='#') &#x6A19;&#x984C;3
        p.description.text-center 2022.06.15
      .col-4
        img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
        p.titl.text-center
          a(href='#') &#x6A19;&#x984C;4
        p.description.text-center 2022.06.15
      .col-4
        img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
        p.titl.text-center
          a(href='#') &#x6A19;&#x984C;5
        p.description.text-center 2022.06.15
      .col-4
        img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
        p.titl.text-center
          a(href='#') &#x6A19;&#x984C;6
        p.description.text-center 2022.06.15
  // 自己練習
  .container
    .row
      .col-2
        img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
        p.titl.text-center
          a(href='#') &#x6A19;&#x984C;6
        p.description.text-center &#x5167;&#x5BB9;
      .col-2
        img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
        p.titl.text-center
          a(href='#') &#x6A19;&#x984C;6
        p.description &#x5167;&#x5BB9;
      .col-2
        img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
        p.titl.text-center
          a(href='#') &#x6A19;&#x984C;6
        p.description.text-center &#x5167;&#x5BB9;
      .col-2
        img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
        p.titl.text-center
          a(href='#') &#x6A19;&#x984C;6
        p.description.text-center &#x5167;&#x5BB9;
// footer開始
footer
  .container
    .row
      dl.col-4
        dt &#x6A19;&#x984C;01
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-4
        dt &#x6A19;&#x984C;02
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-4
        dt &#x6A19;&#x984C;03
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-4
        dt &#x6A19;&#x984C;04
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-4
        dt &#x6A19;&#x984C;05
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
    .text-center
      p 2022.06.15
  