doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='public/css/practise.css')
  title Document
// HEADER START HERE.
header.container
  h1 Mr.Brown Cafe
// HEADER END.
// NAV START HERE.
nav
  .container
    ul
      li
        a(href='https://www.mrbrown.com.tw/News/Index.aspx') &#x6700;&#x65B0;&#x6D88;&#x606F;
      li
        a(href='https://www.mrbrown.com.tw/Stores/Index.aspx') &#x9580;&#x5E02;&#x8CC7;&#x8A0A;
      li
        a(href='https://www.mrbrown.com.tw/Product/Index.aspx') &#x56B4;&#x9078;&#x5546;&#x54C1;
      li
        a(href='https://www.mrbrown.com.tw/Coffee/Index.aspx') &#x5496;&#x5561;&#x8C46;&#x5C08;&#x5340;
      li
        a(href='https://www.mrbrown.com.tw/Lounge/Index.aspx') &#x4F2F;&#x90CE;lounge&#x5361;
      li
        a(href='https://www.mrbrown.com.tw/Brown/Index.aspx') &#x4F2F;&#x90CE;&#x8B1B;&#x5802;
      li
        a(href='https://www.mrbrown.com.tw/Shopping/index.aspx') &#x7DDA;&#x4E0A;&#x8CFC;&#x7269;
// NAV END
// SECTION START HERE.
.container
  .row
    ul.breadcrumb
      li
        a(href='index.html') &#x9996;&#x9801;&gt;
      li
        a(href='index.html') &#x56B4;&#x9078;&#x5546;&#x54C1;&gt;
      li
        a(href='index.html') &#x6700;&#x65B0;&#x7522;&#x54C1;&gt;
    aside.col-3
      ul
        li
          a.btn-primary(href='https://www.mrbrown.com.tw/Product/index.aspx') &#x6700;&#x65B0;&#x7522;&#x54C1; 
        li
          a.btn-primary(href='https://www.mrbrown.com.tw/Product/Index.aspx?P01=1&P02=14') &#x98F2;&#x54C1;&#x4ECB;&#x7D39;
        li
          a.btn-primary(href='https://www.mrbrown.com.tw/Product/Index.aspx?P01=2&P02=15') &#x9910;&#x9EDE;&#x4ECB;&#x7D39; 
        li
          a.btn-primary(href='https://www.mrbrown.com.tw/Product/Index.aspx?P01=3&P02=34') &#x5468;&#x908A;&#x5546;&#x54C1; 
        li
          a.btn-primary(href='https://www.mrbrown.com.tw/Product/Coupons.aspx') &#x4F2F;&#x90CE;&#x5496;&#x5561;&#x5238; 
        li
          a.btn-primary(href='https://www.mrbrown.com.tw/Product/Coupons2.aspx') &#x4F2F;&#x90CE;&#x96FB;&#x5B50;&#x8D08;&#x54C1;&#x7968;&#x5377; 
    main.col-9
      .row
        .col-6.text-center
          a.img-wrap(href='https://www.mrbrown.com.tw/Index.aspx')
            img.img-fluid.img-rounded(src='https://picsum.photos/640/360' alt='')
            span.icon-new New
          a.text-primary(href='#')
section
  .row
    .col-1
      img.img-fluid(src='https://picsum.photos/360/360' alt='img')
      p.titl.text-center
        a(href='#') &#x6A19;&#x984C;6
      p.description.text-center 2022.06.16
    .col-1
      img.img-fluid(src='https://picsum.photos/360/360' alt='img')
      p.titl.text-center
        a(href='#') &#x6A19;&#x984C;6
      p.description 2022.06.16
    .col-1
      img.img-fluid(src='https://picsum.photos/360/360' alt='img')
      p.titl.text-center
        a(href='https://baconmockup.com/300/200') &#x6A19;&#x984C;6
      p.description.text-center 2022.06.16
    .col-1
      img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
      p.titl.text-center
        a(href='#') &#x6A19;&#x984C;6
      p.description.text-center 2022.06.16
    .col-1
      img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
      p.titl.text-center
        a(href='#') &#x6A19;&#x984C;6
      p.description 2022.06.16
    .col-1
      img.img-rounder.img-fluid(src='https://picsum.photos/360/360' alt='img')
      p.titl.text-center
        a(href='#') &#x6A19;&#x984C;6
      p.description.text-center 2022.06.16
// SECTON END
// FOOTER START HERE.
footer
  .container
    .row
      dl.col-1
        dt &#x6A19;&#x984C;01
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-1
        dt &#x6A19;&#x984C;02
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-1
        dt &#x6A19;&#x984C;03
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-1
        dt &#x6A19;&#x984C;04
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-1
        dt &#x6A19;&#x984C;05
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
    .text-center
      p 2022.06.15
